*.log
*.tmp
*.pyc
*.sqlite3
**/__pycache__/
.git
.github
.gitignore
.gitmodules
.gitattributes
.ci
.test-env/
.vscode/
.dockerignore
Dockerfile
build_image.sh
ComfyUI/models/
ComfyUI/user/
ComfyUI/temp/
ComfyUI/input/
ComfyUI/output/
Arc2Face/models/
models/Arc2Face/
models/ComfyUI/
models/huggingface/
models/face_recognition/adaface/checkpoint/adaface_ir101_webface12m.ckpt
models/face_recognition/arcface/checkpoint/ArcFace.pth
models/face_recognition/curricularface/checkpoint/CurricularFace.pth
models/mtcnn/weights/*.pt
