*.pyc
__pycache__/
*.log
*.tmp
*.sqlite3
.test-env/
.dev-env/
.vscode/
.git/
.github/
.gitmodules
.gitattributes
.ci/
.etc/
experiments/
ComfyUI/models/
ComfyUI/user/
ComfyUI/temp/
ComfyUI/input/
ComfyUI/output/
ComfyUI/workflows/
ComfyUI/custom_nodes/comfyui-manager/
ComfyUI/custom_nodes/was-node-suite-comfyui/
ComfyUI/custom_nodes/ComfyUI-to-Python-Extension/
ComfyUI/custom_nodes/comfyui-kjnodes/
Arc2Face/models/
models/Arc2Face/
models/ComfyUI/
models/huggingface/
models/face_recognition/adaface/checkpoint/adaface_ir101_webface12m.ckpt
models/face_recognition/arcface/checkpoint/ArcFace.pth
models/face_recognition/curricularface/checkpoint/CurricularFace.pth


