*.pyc
__pycache__/
*.log
*.tmp
*.sqlite3
.test-env/
.vscode/
.git/
.github/
.gitmodules
.gitattributes
.ci/
ComfyUI/models/
ComfyUI/user/
ComfyUI/temp/
ComfyUI/input/
ComfyUI/output/
Arc2Face/models/
models/Arc2Face/
models/ComfyUI/
models/huggingface/
models/face_recognition/adaface/checkpoint/adaface_ir101_webface12m.ckpt
models/face_recognition/arcface/checkpoint/ArcFace.pth
models/face_recognition/curricularface/checkpoint/CurricularFace.pth
models/mtcnn/weights/*.pt


